<div class= "presentation">
  <aside>
    {{#each post in model}}
      <div class='title'>
        {{#link-to 'post' post}}
          {{post.title}}
        {{/link-to}}
      </div>
    {{/each}}
  <aside>



</div>
