<section class="new-post">
  <form>
    <h4>New Post</h4>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{input class="form-control" value=postTitle}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{textarea class="form-control" value=postBody}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        <button class="btn btn-default" {{action 'newPost'}}>save</save>
      </div>
    </div>
  </form>
</section>
