<div id="header">
  <nav>
    <h1 class="page-header header">{{#link-to 'homepage'}}Welcome to DigiDi{{/link-to}} </h1>
    <h2 class="page-header header"> Create and Share your Digital Social Profile</h2>
    <h2><button>{{#link-to 'posts.new'}}New Post{{/link-to}}</button></h2>
    <h2><button>{{#link-to 'posts.new'}}View Posts{{/link-to}}</button></h2>
  </nav>
</div>
<hr>

{{outlet}}

<footer>
<hr>
  <h6 class="text-center">gSchool February 2015</h6>
  <ul>
    <li><img src="images/twitter.png"/></li>
    <li><img src="images/pinterest.png"/></li>
    <li><img src="images/facebook.png"/></li>
    <li><img src="images/wordpress.png"/><li>
  </ul>

</footer>
