
<div id="row">
  <div id="wordImage">
    <img src="http://cdn.morguefile.com/imageData/public/files/c/clairetrafton/11/l/13852495177jh1x.jpg" />
  </div>

  <div id="introduction">
    <p>
      Welcome to DigiDi, created as a gSchool project but with a lot more in mind.
      This blogging app will allow the user to create a digital portfolio of themselves,
      organized by date. It uses a Facebook and Twitter API to pull in tweets and posts,
      and allows the user to create a blog post with external media. This creates a larger
      picture for one to go back and reflect on.
    </p>
  </div>

</div>

{{outlet}}
