<section class="view-post">
  <div class="row">
    <h3 class="page-header">
      {{model.title}}
      <span class="pull-right"><button>{{#link-to 'post.edit'}}edit{{/link-to}}</span></button>
    </h3>
    <p>{{model.body}}</p>
  </div>
</section>

{{outlet}}
