<section class="sidebar">
  <h3>Posts</h3>
  <ul>
    {{#each post in model}}
      <li>{{#link-to 'post' post}}{{post.title}}
        {{/link-to}}<i class="fa fa-times"{{action 'deletePost' post}}></i></li>
    {{/each}}
  </ul>
</section>

{{outlet}}
